body {
	background-color: #ededed;
}

h1 {
	font-size: 60px;
}

.body-container {
	display: flex;
	justify-content: center;
	gap: 50px;
}

.grid-container {
	display: grid;
	background-color: #ededed;
	width: 500px;
	height: 500px;
	grid-template-rows: repeat(4, 0px);
	grid-template-columns: repeat(4, 0px);
	grid-row-gap: 125px;
	grid-column-gap: 125px;
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}

.grid-container div {
	background-color: white;
	width: 125px;
	height: 125px;
}

.options-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

button {
	border-radius: 5px;
	border-width: 1px;
	width: 150px;
	height: 35px;
	font-size: 16px;
	transition: transform 100ms ease-in-out;
}

button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

button.selected {
	color: rgb(243, 243, 243);
	background-color: black;
}

.slider-container {
	width: 150px;
}
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: black;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04aa6d;
	cursor: pointer;
}

.color-palette {
	
	width: 100px;
	height: 100px;
	padding: 0px;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

.color-palette::-webkit-color-swatch {
	border-radius: 50%;
}